td.hideEmptyColumn-hiddencolumn,th.hideEmptyColumn-hiddencolumn{
overflow:hidden !important;
border-spacing:0 !important;
border-collapse:collapse !important;
padding:0 !important;
width: 0 !important;
min-width: 0 !important;
}
table.hideEmptyColumn-widthhiddencolumn{
border-collapse:collapse !important;
}
